<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <button class="ptype">hello</button>


</body>
</html>
<script type="text/javascript">

  function DataManager() {
    this.fetched_data = []
    this.current_mode = 0
    this.current_data = []
    this.displayed_data = []

    this.initData = function() {
      this.current_data = 0
      return this.current_data
    }




  }



  $(document).ready(function(){

    dataManager = new DataManager()
    console.log(dataManager.initData(), "hello")
    var base = window.location.protocol + "//" + window.location.host
    var api0 = base + "{% url 'getmeta' 0 %}"
    var api1 = base + "{% url 'getmeta' 1 %}"
    var api2 = base + "{% url 'getmeta' 2 %}"

    console.log(base)
    console.log(api0)

    console.log("hello")

  //For doing AJAX post

// //When submit is clicked
$(".ptype").click(function(e) {

// //Prevent default submit. Must for Ajax post.Beginner's pit.
e.preventDefault();


// //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
// //Send data  
$.ajax({
        url : api0, // the endpoint,commonly same url
        type : "GET", // http method
// data sent with the post request

//  // handle a successful response
success : function(json) {
  console.log(json); // another sanity check
  //On success show the data posted to server as a message
},

//  // handle a non-successful response
error : function(xhr,errmsg,err) {
  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
}

});

});
});
</script>