<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- jquery -->
  {% load static %}
  <script rel="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <!-- jquery ui -->
  {% load static %}
  <script rel="text/javascript" src="{% static 'js/moment.min.js' %}"></script>

  {% load static %}
  <script rel="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

  <!-- lodash  for  json deep comparsion -->
  <script src ="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <!-- tabulator for table displaying -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/js/tabulator.min.js"></script>

  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <h3 class=" text-center">Metafile Record Table</h3>

 
          <select class="form-control " id="period-select" style="width: 10%; float: right;">
            <option value="0" >24 Hours</option>
            <option value="1">7 Days</option>
            <option value="2">4 Weeks</option>
          </select>          

        
  <div id="threat-table" style="clear: both;"> </div>
</body>
</html>

{% load static %}
<script rel="text/javascript" src="{% static 'js/data-manager.js' %}"></script>
<script type="text/javascript">





  $(document).ready(function(){


    var base = window.location.protocol + "//" + window.location.host
    var api0 = base + "{% url 'getmeta' 0 %}"
    var api1 = base + "{% url 'getmeta' 1 %}"
    var api2 = base + "{% url 'getmeta' 2 %}"

    dataManager = new DataManager(api0,api1,api2)
    dataManager.start_service()

    $('#period-select').on('change', function() {
      dataManager.choose_period(this.value)
    })
    // console.log(base)
    // console.log(api0)

  //For doing AJAX post

// //When submit is clicked
$(".ptype").click(function(e) {

// //Prevent default submit. Must for Ajax post.Beginner's pit.
e.preventDefault();


// //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
// //Send data  


});
});
</script>